@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-regular.otf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/montserrat/Montserrat-ExtraBold.otf");
}
*, html {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: #333;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  position: relative;
}

body {
  font-family: "Montserrat", sans-serif;
}

header.esbaratao {
  position: fixed;
  z-index: 100;
  height: 40px;
  width: 100%;
  top: 0;
  background-color: #5d7b61;
}
header.esbaratao div.header-esbaratao-contenido h1.nombre-pagina {
  color: white;
  margin: 0 15px;
}

.fit-window {
  width: 100%;
  height: 100vh;
}

.mitad {
  height: 50%;
}

header.inicio div.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header.inicio div.header-content div.title {
  text-align: center;
  padding: 5% 10%;
  font-family: "Montserrat-Bold", sans-serif;
  display: flex;
  align-items: center;
}
header.inicio div.header-content div.title h1 {
  font-size: 2em;
  color: #5d7b61;
}
header.inicio div.header-content div.header-pic img {
  max-height: 90%;
}

div.container {
  background-color: #fee4e5;
}

/* Estilo para los botones */
button.cta-button {
  margin-top: 10px;
  font-size: 1.3em;
  padding: 10px;
  border: none;
  background-color: #5d7b61;
  color: #e6bdba;
}

div.content {
  height: 100%;
  width: 100%;
}
div.content section.sobre {
  padding: 80px 15px;
  background-color: #fee4e5;
}
div.content section.sobre div.sobre-titulo {
  margin-bottom: 40px;
}
div.content section.sobre div.sobre-titulo p {
  font-size: 2em;
  color: #92635b;
}
div.content section.sobre div.sobre-titulo span.question-mark {
  color: #e6bdba;
}
div.content section.sobre div.sobre-texto {
  font-size: 1.2em;
}
div.content section.sobre div.sobre-texto p {
  text-align: justify;
  padding-bottom: 10px;
}
div.content section.cajas div.sobre-cajas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  flex-wrap: wrap;
}
div.content section.cajas div.sobre-cajas div.caja {
  margin: 15px 15px;
  width: 300px;
  height: 300px;
  border: 2px solid #5d7b61;
  border-radius: 10px;
  background-color: white;
}
div.content section.cajas div.sobre-cajas div.caja p.caja-titulo {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 1000;
  padding: 12px 0;
  color: white;
  background-color: #5d7b61;
}
div.content section.cajas div.sobre-cajas div.caja p.caja-texto {
  padding: 20px;
}
div.content footer {
  padding: 40px;
  padding: 80px 20px 50px;
  text-align: center;
  background-color: #fee4e5;
}
div.content footer .links {
  margin-bottom: 15px;
}
div.content footer .links img.svg-icon {
  height: 40px;
  margin: 0 10px;
}
div.content footer div.creditos p {
  color: #999;
}

section.prenda {
  width: 100%;
}
section.prenda div.interior-prenda {
  width: 100%;
  /* centra los objetos */
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.prenda div.interior-prenda div.prenda-item {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fee4e5;
  text-align: center;
  max-width: 300px;
}
section.prenda div.interior-prenda div.prenda-item div.prenda-item-imagen img.item-img {
  max-width: 250px;
  max-height: 200px;
}
section.prenda div.interior-prenda div.prenda-item div.prenda-texto {
  text-align: initial;
  margin-top: 10px;
}

@media screen and (min-width: 600px) {
  header {
    background-color: #eee;
  }
  header div.title h1 {
    font-size: 2.8em;
  }

  div.content section.sobre {
    padding: 110px 25px;
  }

  section.prenda div.interior-prenda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 782px) {
  .mitad {
    height: auto;
    width: 50%;
  }

  header.inicio {
    display: flex;
    justify-content: center;
  }
  header.inicio div.header-content {
    flex-direction: row;
    max-width: 1024px;
  }
  header.inicio div.header-content div.title {
    max-width: 950px;
    font-size: 1.5em;
    padding: 0;
    width: 60%;
  }
  header.inicio div.header-content .header-pic {
    text-align: center;
    width: 40%;
  }
  header.inicio div.header-content .header-pic img {
    max-height: auto;
    max-width: 80%;
  }

  div.content section.sobre .anchura {
    max-width: 780px;
    margin: 0 auto;
  }
}
div.tijeras-probador {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  top: 20px;
}
div.tijeras-probador svg {
  transition: 0.8s ease;
  left: 0px;
  width: 60px;
}

@media screen and (max-height: 500px) {
  header.inicio {
    height: 500px !important;
  }
}

/*# sourceMappingURL=style.css.map */
