:root {
  --fondo-verde-claro: #f0f0ee;
  --fondo-verde-oscuro: #003935;
  --fondo-rosa: #fee9e9;
}

@font-face {
  font-family: "Cocogoose";
  src: url("../fonts/Cocogoose-Pro-Ultralight-trial.ttf");
}
@font-face {
  font-family: "Lemon-Milk";
  src: url("../fonts/LEMONMILK-Medium.otf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
*, html {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

section > div {
  min-height: 300px;
}

div.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
div.container .fit-w {
  width: 100%;
}
div.container .max-w {
  max-width: 1000px;
}
div.container .titulo {
  text-align: center;
  font-family: "Cocogoose", sans-serif;
}
div.container .espaciado {
  padding: 1rem;
}
div.container main.landing-view {
  width: 100%;
  padding-top: 47%;
  margin: 0 auto;
  background-color: blue;
  background-image: url(../img/fondo.png);
  background-size: 100%;
  background-position: center;
  transition: all 2s ease;
}
div.container .decrease {
  animation: bg 0.8s;
}
@keyframes bg {
  0% {
    background-size: 106%;
    opacity: 0;
  }
  100% {
    background-size: 100%;
    opacity: 1;
  }
}
div.container section.esbarata {
  background-color: var(--fondo-verde-claro);
}
div.container section.esbarata span.s-volteada {
  display: inline-block;
  transform-origin: bottom left;
  transform: rotatez(57deg);
  transition: 1s ease;
}
div.container section.esbarata span.s-normal {
  transform: rotate(0deg);
}
div.container a[class*=button-] {
  font-family: "Lemon-Milk", sans-serif;
}
div.container section > div {
  margin: 0 auto;
}
div.container section.enterate {
  background-color: var(--fondo-verde-oscuro);
}
div.container section.enterate .half .titulo {
  color: var(--fondo-verde-claro);
}
div.container section.enterate .half a.button-1 {
  display: block;
  padding: 0.5rem;
  background-color: var(--fondo-rosa);
  color: var(--fondo-verde-oscuro);
  text-decoration: none;
  text-align: center;
  margin: 0.7rem 0;
}
div.container section.somos {
  background-color: var(--fondo-rosa);
}
div.container section.somos div.somos-interno div.cuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
div.container section.somos div.somos-interno div.cuadro:last-child {
  margin: 0;
}
div.container section.somos div.somos-interno div.cuadro img.cuadro-icon {
  height: 70px;
}
div.container section.somos div.somos-interno div.cuadro p.cuadro-texto {
  color: var(--fondo-verde-oscuro);
  margin: 0.7rem 0;
  font-size: 1rem;
  font-family: "Cocogoose", sans-serif;
  text-align: center;
}
div.container section.somos div.somos-interno div.cuadro a.button-2 {
  text-decoration: none;
  background-color: var(--fondo-verde-oscuro);
  color: var(--fondo-verde-claro);
  padding: 0.5rem 2.5rem;
}
div.container section.aparecimos {
  background-color: var(--fondo-verde-claro);
}
div.container section.aparecimos div.aparecimos-interno {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.container section.aparecimos div.aparecimos-interno img.aparecimos-icon {
  width: 80%;
  margin-bottom: 0.7rem;
}
div.container section.iconos {
  background-color: var(--fondo-verde-oscuro);
}
div.container section.iconos div.iconos-interno {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.container section.iconos div.iconos-interno div.icono {
  width: 80%;
  text-align: center;
  color: var(--fondo-rosa);
  margin-bottom: 0.7rem;
}
div.container section.iconos div.iconos-interno div.icono img {
  margin-bottom: 0.7rem;
}
div.container section.iconos div.iconos-interno div.icono p {
  font-family: "Cocogoodr", sans-serif;
}
div.container footer div.footer-interno {
  background-color: var(--fondo-rosa);
}
div.container footer div.half ul.socials {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
div.container footer div.half ul.socials li.socials-link {
  width: 40px;
}

@media only screen and (min-width: 600px), (orientation: landscape) {
  div.container section.somos div.somos-interno {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  div.container section.somos div.somos-interno div.cuadro {
    max-width: 40%;
    margin-bottom: 0;
    justify-content: space-between;
    min-width: 280px;
  }
  div.container section.aparecimos div.aparecimos-interno {
    flex-direction: row;
    justify-content: space-between;
  }
  div.container section.aparecimos div.aparecimos-interno img.aparecimos-icon {
    width: 25%;
    max-width: 200px;
    margin-bottom: 0;
  }
  div.container section.iconos div.iconos-interno {
    flex-direction: row;
    justify-content: space-between;
  }
  div.container section.iconos div.iconos-interno div.icono {
    width: 25%;
    max-width: 200px;
    margin-bottom: 0;
  }
  div.container section.iconos div.iconos-interno div.icono img {
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
